<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div style="width: 40%; height: 50%; margin: 0 auto">
      <h1 style="text-align: center">ADMIN LOGIN</h1>

      <form action="/login" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">User Name</label>
          <input
            type="text"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            class="form-control"
            placeholder="User name"
            name="username"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            id="exampleInputPassword1"
            placeholder="password"
            class="form-control"
            name="password"
          />
        </div>

        <input
          type="submit"
          value="LOGIN"
          class="btn btn-lg btn-block btn-success"
        />
      </form>
    </div>
  </div>
</div>
