<% include ./partials/header %>
<div class="container">
  <h2 class="text-center">All Users</h2>
  <% if(allUsers.length == 0){ %>
  <div class="alert alert-warning">No users</div>
  <% }else{ %>
  <div class="col-12 mx-auto">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>State</th>
          <th>City</th>
          <th>Counthy</th>
          <th>Phone</th>
          <th>D.O.B</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% allUsers.forEach((user)=>{ %>
        <tr>
          <td><%= user.name %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
</div>
