<% include ../partials/header %>


<div class="container">
  <div class="row">
  <h1 style="text-align:center">Add a new Tourist Spot</h1>
    <div style="width: 30%; margin: 0 auto;">
	  <form action="/index" method="POST">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Name</label>
	    <input type="name"  id="exampleInputEmail1" aria-describedby="emailHelp" class="form-control" placeholder="Enter name" name="name">
	    
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Image</label>
	    <input type="text"  id="exampleInputPassword1" placeholder="Image url" class="form-control" name="image">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Description</label>
	    <input type="text"  id="exampleInputPassword1" placeholder="Description" class="form-control" name="description">
	  </div>

	  <div class="form-group">
	    <label for="exampleInputPassword1">Price</label>
	    <input type="number"  id="exampleInputPassword1" placeholder="Price" class="form-control" name="price" min="50" step ="50">
	  </div>
	  
	  <button type="submit" class="btn btn-primary btn-block">Submit</button>
  	</form>
  	</div>
  	</div>
  		
 </div>


