.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}
#del-form {
  display: inline;
}
body {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#nvbr {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}
.footer {
  text-align: center;
  position: bottom;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.footer2 {
  text-align: center;
  position: bottom;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
